
body {
  height: 100%;
  font-family: Roboto, Helvetica, sans-serif;
  overflow-x: hidden;
}

.arrow-up {
  display: none;
  position: fixed;
  left: 4vh;
  bottom: 4vh;
  z-index: 99;
  border: solid rgb(100, 100, 100);
  border-width: 0 0.5em 0.5em 0;
  padding: 0.5em;
  transform: translateY(50%) rotate(-135deg);
  -webkit-transform: translateY(50%) rotate(-135deg);
  cursor: pointer;
}
.arrow-up:hover {
  border: solid black;
  border-width: 0 0.5em 0.5em 0;
}

.main {
  padding: 3.5em 25vw 2em 25vw;
}

h1 {
  font-size: 2.5em;
  margin: 0 0 0.4em 0;
}

h2 {
  font-size: 1.5em;
}

h2 code {
  font-size: 1.1em;
}

h3 {
  font-size: 1.1em;
}

p {
  font-size: 1.1em;
  text-align: justify;
}

li {
  font-size: 1.1em;
}

.img-container {
  display: flex;
  justify-content: center;
}

.video-container {
  display: flex;
  justify-content: center;
}

video {
  width: 60%;
}

img {
  width: 60%;
}

.badge {
  height: 1.2em;
  width: auto;
  margin-right: 0.8em;
}

code {
  font-size: 1.3em;
}

.equation {
  overflow-x: auto;
}

.equation p {
  margin: 0;
}

sub {
  vertical-align: bottom;
  font-size: 0.7em;
}
sup {
  vertical-align: top;
  font-size: 0.7em;
}

::-webkit-scrollbar {
  width: 1.5em;
}
::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border-radius: 1em;
  border: 0.3em solid white;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(80, 80, 80);
}
::-webkit-scrollbar-thumb:active { 
  background-color: rgb(0, 0, 0);
}  

mjx-container[display="true"] {
  margin: .3em 0 ! important
}

@media (max-width: 1200px) {
  .main {
    padding: 3.5em 8vw 2em 8vw;
  }

  .arrow-up {
    display: none;
  }
}
