
body {
  height: 100%;
  font-family: Roboto, Helvetica, sans-serif;
  overflow-x: hidden;
}

.main {
  padding: 3.5em 25vw 2em 25vw;
}

h1 {
  font-size: 2.5em;
  margin: 0 0 0.4em 0;
}

h2 {
  font-size: 1.5em;
}

h2 code {
  font-size: 1.1em;
}

h3 {
  font-size: 1.1em;
}

p {
  font-size: 1.1em;
  text-align: justify;
}

li {
  font-size: 1.1em;
}

.img-container {
  display: flex;
  justify-content: center;
}

.video-container {
  display: flex;
  justify-content: center;
}

video {
  width: 60%;
}

img {
  width: 60%;
}

.badge {
  height: 1.2em;
  width: auto;
  margin-right: 0.8em;
}

code {
  font-size: 1.3em;
}

.equation {
  overflow-x: auto;
}

.equation p {
  margin: 0;
}

mjx-container[display="true"] {
  margin: .3em 0 ! important
}

@media (max-width: 1200px) {
  .main {
    padding: 3.5em 8vw 2em 8vw;
  }

  .arrow-container {
    padding: 0.5em 0 0 0.75em;
  }
}
