* {
    margin: 0;
    padding: 0;
    border: 0;
    --science-color: #FFD166;
    --art-color: #E11444;
    --code-color: #118AB2;
}

body {
	background-color: black;
	color: white;
	text-align: center;
	margin: 0;
	height: 100%;
    font-family: 'Lato', sans-serif;
    overflow-y: scroll;
}

.main-container {
    width: 60vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2em 0;
}

h1 {
    font-size: 2.5em;
    font-weight: normal;
}
h2 {
    font-size: 1.5em;
    font-weight: normal;
}
p {
    font-size: 1.2em;
    text-align: justify;
}

.header {
    text-align: left;
}

.sub-header {
    display: flex;
    column-gap: 1em;
}

.content-section {
    text-align: left;
    padding-top: 1em;
}

.content-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 1em;
    flex-wrap: wrap;
    gap: 1.2em;
}

.link-box, .article-box {
    width: 30%;
    aspect-ratio: 1 / 1;
    border-radius: 15%;
    transition: transform 1s ease;
    cursor: pointer;
    text-decoration: none;
    min-width: 150px;
    max-width: 200px;
}

.link-box {
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-box:hover {
    transform: scale(0.95);
}
.link-box h2 {
    padding: 0.5em;
    font-weight: bold;
}

.article-box {
    background-color: black;
    box-sizing: border-box;
    border: 4px solid white;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    background-size: contain;
}
.article-box:hover {
    transform: scale(0.95);
}

.article-title {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 1.5em;
}
::-webkit-scrollbar-thumb {
    background: rgb(230, 230, 230);
    border-radius: 1em;
    border: 0.3em solid black;
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 177, 177);
}
::-webkit-scrollbar-thumb:active { 
    background-color: rgb(128, 128, 128);
}  

@media (max-width: 1200px) {
    .main-container {
        width: 85vw;
        max-width: 1000px;
    }
}

@media (max-width: 700px) {
    .content-container {
        justify-content: center;
    }
    p {
        text-align: left;
    }
}

