html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

canvas {
	background-color: black;
}

.container {
	display: flex;
    flex-direction: column;
    justify-content: center;
	position: absolute;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.container h1 {
	margin: 0;
	font-size: 46px;
	font-weight: normal;
}

.container h2 {
	margin: 0;
	font-size: 24px;
	font-weight: normal;
}

.container p {
	font-size: 20px;
}

button {
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	font-size: 18px;
	background-color: black;
	height: 50%;
	margin: 5px 10px;
	outline: none;
}

#category-select-container {
	width: 180px;
	height: 100px;
	left: 5px;
	top: 5px;
}

#mobile-warning {
	display: none;
	width: 54%;
	height: 10%;
	top: 10%;
	left: 23%;
}

#disclaimer {
	font-size: 10px;
}

#main-container {
	width: 54%;
	height: 54%;
	top: 23%;
	left: 23%;
}

#info-container {
	display: none;
	width: 40%;
	height: 90%;
	top: 5%;
	left: 3%;
}

#link-container {
	position: absolute;
	display: none;
	float: right;
	height: 100%;
	width: 57%;
	margin: 0;
	top: 0;
	left: 43%;
}

#link-container a {
	height: 100%;
	width: 100%;
	display: none;
}

.info-display {
	height: 100%;
	display: none;
	flex-direction: column;
	align-items: center;
}

.info-text {
	height: 55%;
}

.info-image {
	height: 40%;
	border: 2px solid white;
}

.disp-image {
	display: none;
}

#update-container {
	width: 70px;
	height: 25px;
	right: 5px;
	bottom: 5px;
}

#update-container p {
	font-size: 10px;
}

@media only screen and (max-width: 1500px){
	.container h1 {
		font-size: 40px;
	}

	.container p {
		font-size: 17px;
	}
}

@media only screen and (max-width: 1200px){
	.container h1 {
		font-size: 32px;
	}

	.container p {
		font-size: 14px;
	}
}

@media (pointer: none), (pointer:coarse) {
	#mobile-warning {
		display: block;
		color: red;
	}
}